<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon_1">
                      <p class="card-category">News feed</p>
                      <h3 class="card-title">
                          <small>The state of Telangana has seen isolated rains in the last 24 hours. The city of Hyderabad also recorded a mm of rains during 2019.</small>
                      </h3>
                  </div>
                  
                  <div class="card-footer">
                      <div class="stats">
                          
                          <a href="javascript:void(0)">Hyderabad</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon_1">
                  <p class="card-category">News feed</p>
                      <h3 class="card-title">The monsoon season that is ended on Monday has eased the city water crisis as surplus of 30% rainfall, highest since 2014.</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">Chennai</i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <p class="material-icons">News Video</p>
                          <video width="200" height="200" controls>
                            <source src="..\assets\img\water.mp4" type="video/mp4">
                            </video>
                      </div>
                      <h4 class="card-title">The QUBIT technologies connects the people all over the world..!</h4>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <p class="material-icons">The QUBIT whether report</p> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <p class="card-category">The QUBIT social media app followers are</p>
                        <h3 class="card-title">+10000</h3>
                          <i class="fa fa-twitter"></i>
                      </div>
                      </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">The QUBIT technology brings social awarness by provding different kind of news feed across the world.
                              Each follower could find video news,dashboard reports and notifications about whether report..!!
                            This application also provides of BLOGS from differnt people from different locations of the world..!!</i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Hyderabad Rain report</h4>
                      <p class="card-category">
                      </div>
                   </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Chennai Rain Report</h4>
                      </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Hyderabad and Chennai combined Reports</h4>
                      </div>                  
              </div>
          </div>
      </div>
  </div>
</div>
