<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Indian Premier League in 2022/2023</h4>
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  
                                  <th>
                                      Team
                                  </th>
                                  <th>
                                      Venue
                                  </th>
                                  <th>
                                      Year
                                  </th>
                                  <th>
                                    Revenue
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          India
                                      </td>
                                      <td>
                                          Hyderabad
                                      </td>
                                      <td>
                                          2019-2020
                                      </td>
                                      <td class="text-primary">
                                        2% High
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          India
                                      </td>
                                      <td>
                                          Chennai
                                      </td>
                                      <td>
                                          2019-2020
                                      </td>
                                      <td class="text-primary">
                                          2% Low
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        CSK
                                    </td>
                                    <td>
                                        Chennai
                                    </td>
                                    <td>
                                        2022
                                    </td>
                                    <td class="text-primary">
                                      2% Low
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4
                                    </td>
                                    <td>
                                        CSK
                                    </td>
                                    <td>
                                        Hyderabad
                                    </td>
                                    <td>
                                        2023
                                    </td>
                                    <td class="text-primary">
                                      2% High
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        KKR
                                    </td>
                                    <td>
                                        Calcutta
                                    </td>
                                    <td>
                                        2023
                                    </td>
                                    <td class="text-primary">
                                      2% Low
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        KKR
                                    </td>
                                    <td>
                                        Delhi
                                    </td>
                                    <td>
                                        2022
                                    </td>
                                    <td class="text-primary">
                                      2% High
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7
                                    </td>
                                    <td>
                                        PBKS
                                    </td>
                                    <td>
                                        Mohali
                                    </td>
                                    <td>
                                        2022
                                    </td>
                                    <td class="text-primary">
                                      2% Low
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8
                                    </td>
                                    <td>
                                        PBKS
                                    </td>
                                    <td>
                                        Mumbai
                                    </td>
                                    <td>
                                        2023
                                    </td>
                                    <td class="text-primary">
                                      2% High
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9
                                    </td>
                                    <td>
                                        SRH
                                    </td>
                                    <td>
                                        Vizag
                                    </td>
                                    <td>
                                        2022
                                    </td>
                                    <td class="text-primary">
                                      2% Low
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        SRH
                                    </td>
                                    <td>
                                        Chennai
                                    </td>
                                    <td>
                                        2023
                                    </td>
                                    <td class="text-primary">
                                      2% High
                                    </td>
                                </tr>                                  
                              </tbody>
                          </table>
                      </div>
                  </div>

              </div>
          </div>
          
      </div>
  </div>
</div>
