<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Whether Notifications</h3>
              
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Hyderabad Whether</h4>
                      <div class="alert alert-warning">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button> 
                        <span>WARNING: Today-Mostly Sunny</span>
                      </div>
                      <div class="alert alert-danger">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>DANGER:Tomorrow-High rainfall</span>
                      </div>
                      <div class="alert alert-success" data-notify="container">
                        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span data-notify="message">Day after tomorrow-Light showers</span>
                      </div>
                      
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Chennai whether</h4>
                      
                      <div class="alert alert-success">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>Today-Light showers</span>
                      </div>
                      <div class="alert alert-warning">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Warning: </b>Tomorrow-Mostly sunny</span>
                      </div>
                      <div class="alert alert-danger">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b>Danger: </b> Day after tomorrow-High temparature"</span>
                      </div>
                    </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
